* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main-nav {
    width: 15%;
    height: 100vh;
    position: fixed;
    background-color: #34495e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.main-nav-logo {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.main-nav-logo img {
    width: 50%;
}

.main-nav-menu {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-nav-menu__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    list-style: none;
}

.main-nav-menu__links__element a {
    text-decoration: none;
    color: #bdc3c7; 
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease; 
}

.main-nav-menu__links__element a:hover {
    color: #ecf0f1; 
    transform: scale(1.1);
}

.main-nav-menu__links__element a:active {
    color: #95a5a6; 
}

.main-nav-space {
    flex-grow: 1;
}

.main-nav-id {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #161616;
    font-weight: bold;
}

.main-nav-id::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: limegreen;
}

.main-nav-button button {
    font-size: 20px; 
    padding: 10px 20px; 
    background-color: #e74c3c; 
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 7px;
    width: 100%; 
    transition: all 0.3s ease; 
}

.main-nav-button button:hover {
    background-color: #c0392b; 
    transform: scale(1.1);
}
