{% extends 'pages/base.html' %}

{% block page %}Clients{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/clients.css') }}">
{% endblock %}

{% block title %}Clients{% endblock %}

{% block content %}
<section class="clients">
    <div class="clients-utils">
        <input type="text" id="search-bar" placeholder="Search...">
    </div>
    <div class="clients-content">
        {% for client in clients %}
        <div class="content-main__element">
            <div class="content-main__element-inner">
                <p>{{ client.nit }}</p>
                <p>{{ client.name }} {{ client.lastname }}</p>
                <p>{{ client.email }}</p>
                <p>{{ client.phone }}</p>
                <p>{{ client.address }}</p>
                <p>{{ client.city }}</p>
                <p>{{ client.state }}</p>
                <p>{{ client.notes }}</p>
            </div>
            <div class="content-main__element-options">
                <button class="content-main__element-buttons update-button">
                    <img src="{{ url_for('static', filename='images/icons/actualizar.png') }}" alt="">
                    <span>Update</span>
                </button>
                <button class="content-main__element-buttons delete-button">
                    <img src="{{ url_for('static', filename='images/icons/borrar.png') }}" alt="">
                    <span>Delete</span>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}