* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100vw;
    min-width: 360px;
    height: 100vh;
    min-height: 640px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(45deg, #FDCB47 , #EE779D);
}

.content {
    width: 100%;
    height: 90%;
    min-height: 57.6rem;
}

.content-title {
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.6rem;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.20);
}

.navbar {
    width: 100%;
    height: 10%;
    background: linear-gradient(to top, #8B699A, #6D99BC);
    box-shadow: 0 -1rem 2rem 0.5rem rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo {
    display: none;
}

.navbar-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-menu__button img {
    width: auto;
    height: 4rem;
}

.navbar-menu__button button {
    padding: 0.5rem;
    background: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.navbar-menu__button button:hover {
    background: rgba(255, 255, 255, 0.20);
    transform: scale(1.01);
}

.navbar-menu__button button:active {
    background: rgba(255, 255, 255, 0.20);
    transform: scale(0.99);
}


.navbar-menu__button button span {
    display: none;
}

.session {
    width: 10vw;
    min-width: 15rem;
    max-width: 20rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: rgb(0, 177, 0);
}

@media (min-width: 720px) {
    .content {
        width: 85%;
        height: 100%;
        order: 2;
    }
    
    .navbar {
        width: 15%;
        height: 100%;
        padding: 2rem 1rem;
        order: 1;
        box-shadow: 1rem 0 2rem 0 rgba(0, 0, 0, 0.20);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-logo {
        width: 100%;
        min-width: 10rem;
        height: 25%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-logo img {
        width: auto;
        height: 100%;
        max-height: 12rem;
    }

    .navbar-menu {
        width: 100%;
        height: 60%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media (min-width: 900px) {

    .navbar-logo img {
        width: 100%;
        height: 100%;
        max-height: 15rem;
    }
    
    .navbar-menu {
        align-items: flex-start;
    }

    .navbar-menu__button {
        width: 100%;
    }

    .navbar-menu__button button {
        width: 100%;    
        display: flex;
        align-items: center;
        border-radius: 1rem;
    }

    .navbar-menu__button button span {
        padding: 0 0.5rem;
        display: inline;
        font-size: max(1.2rem, min(1.2vw, 2rem));
    }
}