* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: sans-serif;
    background-size: cover;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(175, 175, 175, 0.5);
    z-index: 1;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-logo {
    padding-right: 20px;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-logo img {
    width: 25%;
}

.divider {
    width: 2px;
    height: 40vh;
    align-items: center;
    background-color: #535353;
}

.content-login {
    width: 60%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ontent-login__header {
    width: 50%;
}

.content-login__header h1 {
    width: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.content-login__form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.content-login__form label {
    font-weight: bold;
    margin-bottom: 2px;
}

.content-login__form input[type="text"],
.content-login__form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.content-login__form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.content-login__alerts {
    width: 50%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.alert {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.alert-danger {
    background-color: #f44336b7; /* Red */
}