* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100vw;
    min-width: 360px;
    height: 100vh;
    min-height: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
    background: linear-gradient(45deg, #FDCB47 , #EE779D);
}

.logo {
    width: 100%;
    min-width: 360px;
    height: 50%;
    display: flex;
}

.logo-pic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:end;
}

.logo-pic img {
    width: auto;
    height: 90%;
    max-height: 30rem;
}

.form {
    width: 100%;
    min-width: 360px;
    height: 50%;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.form-login {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.form-login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    width: 100%;
    min-width:28rem;
    max-width: 36rem;
    margin-bottom: 1.5rem;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 2rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0,0.75);
}

.input-container img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.input-container input {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: transparent;
}

.form-login__form input[type="submit"] {
    width: 100%;
    max-width: 36rem;
    height: 4.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(to top, #0ebeff, #5842ff);
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0,0.75);
    border-radius: 2rem;
    cursor: pointer;
}

.form-login__form input[type="submit"]:hover {
    background: linear-gradient(to top, #0ebeff, #5842ff);
    transform: scale(1.01);
}

.form-login__form input[type="submit"]:active {
    background: linear-gradient(to top, #0ebeff, #5842ff);
    transform: scale(0.99);
}

.content-login__alerts {
    width: 100%;
    top: 65%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.alert {
    width: 100%;
    max-width: 36rem;
    padding: 15px;
    border-radius: 2rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: white;
}

.alert-danger {
    background-color: #f44336b7; /* Red */
}

@media (min-width: 720px) {
    .logo {
        width: 50%;
        padding-right: 2rem;
        min-width: 360px;
        height: 100%;
        display: flex;
    }

    .logo-pic {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .form {
        width: 50%;
        min-width: 360px;
        height: 100%;
        padding: 2rem;
    }

    .form-login__form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .content-login__alerts {
        align-items: start;
        top: 67%;
    }

}

@media (min-width: 900px) {
    .logo {
        width: 40%;
        min-width: 360px;
        height: 100%;
        display: flex;
    }

    .logo-pic {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .form {
        width: 60%;
        min-width: 360px;
        height: 100%;
        padding: 2rem;
    }

    .form-login__form {
        width: 100%;
        height: 100%;
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .content-login__alerts {
        margin-left: 3rem;
    }
}