<nav class="main-nav">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/navbar.css') }}">
    </head>
    <body>
        <div class="main-nav-logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
        </div>
        <main class="main-nav-menu">
            <ul class="main-nav-menu__links">
                <li class="main-nav-menu__links__element">
                    <a href="{{ url_for('home.home') }}">Home</a>
                </li>
                <li class="main-nav-menu__links__element">
                    <a href="{{ url_for('clients.clients') }}">Clients</a>
                </li>
                <li class="main-nav-menu__links__element">
                    <a href="">Tasks</a>
                </li>
                <li class="main-nav-menu__links__element">
                    <a href="">Calendar</a>
                </li>
            </ul>
        </main>
        <div class="main-nav-space"></div>
        <div class="main-nav-button">
            <button onclick="location.href=''">
                Logout
            </button>
        </div>
    </body>
</nav>