<nav class="main-nav">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/navbar.css') }}">
    </head>
    <body>
        <div class="main-nav-logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
        </div>
        <main class="main-nav-menu">
            <ul class="main-nav-menu__links">
                <li class="main-nav-menu__links__element">
                    <a href="{{ url_for('home.home') }}">Home</a>
                </li>
                <li class="main-nav-menu__links__element">
                    <a href="{{ url_for('clients.clients') }}">Clients</a>
                </li>
                <li class="main-nav-menu__links__element">
                    <a href="{{ url_for('tasks.tasks') }}">Tasks</a>
                </li>
                <li class="main-nav-menu__links__element">
                    <a href="{{ url_for('calendar.calendar') }}">Calendar</a>
                </li>
                <li class="main-nav-menu__links__element">
                    <a href="{{ url_for('register.register') }}">Register a new user</a>
                </li>
            </ul>
        </main>
        <div class="main-nav-space"></div>
        <div class="main-nav-id">
            {% if g.user %}
                <p>{{ g.user.username }}</p>
            {% endif %}
        </div>
        <div class="main-nav-button">
            <button onclick="location.href='{{ url_for('login.logout') }}';">
                Logout
            </button>
        </div>
    </body>
</nav>